.game-container {
  display: flex;
  height: 97vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.842);
}
.background {
  background-image: url("./images/sprite_background__super_mario_bros__by_sonicx64ds_dcrz5nh-pre.jpg");
  background-size: contain;
  /* background: rgb(52, 166, 251); */
  table-layout: fixed;
  border-spacing: 0;
}
.background td {
  padding: 0;
}
.lava {
  background: rgba(247, 49, 49, 0.922);
}
.wall {
  background: #381f13;
  border: 1px solid rgb(19, 13, 4);
  box-sizing: border-box;
}
.actor {
  position: absolute;
}
.coin {
  background: linear-gradient(
    143deg,
    rgb(187, 140, 0) 0%,
    rgb(170, 145, 1) 48%,
    rgb(146, 110, 1) 100%
  );
  border-radius: 50%;
}
.coin:after {
  content: "$";
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player {
  background: rgb(133, 129, 129);
  box-sizing: border-box;
}
.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
.game {
  overflow: hidden;
  width: 750px;
  height: 550px;
  position: relative;
}

.score-tally {
  z-index: 100;
  position: fixed;
  top: 40px;
  left: 30%;
  font-size: 24px;
  font-weight: 600;
  color: #ff7373;
  white-space: nowrap;
  font-family: "Raleway", sans-serif;
}
.level-tally {
  z-index: 100;
  position: fixed;
  top: 40px;
  left: 60%;
  font-size: 24px;
  font-weight: 600;
  color: #ff7373;
  white-space: nowrap;
  font-family: "Raleway", sans-serif;
}
