.game-container {
  display: flex;
  height: 97vh;
  justify-content: center;
  align-items: center;
  background-color: yellowgreen;
}
.background {
  background: rgb(52, 166, 251);
  table-layout: fixed;
  border-spacing: 0;
}
.background td {
  padding: 0;
}
.lava {
  background: rgb(255, 100, 100);
}
.wall {
  background: white;
}
.actor {
  position: absolute;
}
.coin {
  background: rgb(241, 229, 89);
  border-radius: 50%;
}
.player {
  background: rgb(64, 64, 64);
}
.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.score-tally {
  z-index: 100;
  position: fixed;
  top: 100px;
  left: 45%;
  white-space: nowrap;
}
