.game-container {
  display: flex;
  height: 97vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.843);
}
.background {
  background-image: url("./images/bg.jpg");
  background-size: contain;
  background-repeat: repeat-x;
  table-layout: fixed;
  border-spacing: 0;
  border-radius: 1px;
}
.background td {
  padding: 0;
}
.lava {
  background: #eb6b4b;
}
.moving {
  background-image: url("./images/fire.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}
.topLava {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background: #a14129;
}
.botLava {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(180deg);
  background: #b4482d;
}
.wall {
  background: #381f13;
  border: 1px solid rgb(19, 13, 4);
  box-sizing: border-box;
}
.actor {
  position: absolute;
}
.coin {
  background: linear-gradient(
    143deg,
    rgb(187, 140, 0) 0%,
    rgb(170, 145, 1) 40%,
    rgb(146, 110, 1) 100%
  );
  border-radius: 50%;
}
.coin:after {
  content: "$";
  font-size: 14px;
  font-weight: 600;
  color: white;
  display: flex;
  padding-top: 2px;
  /* vertical-align: middle  ; */
  text-align: center;
  justify-content: center;
  align-items: center;
}
.player {
  /* background: rgb(64, 64, 64); */
  background-image: url("./images/mario.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}
.lost {
  background: rgb(160, 64, 64);
}
.won {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
.game {
  overflow: hidden;
  max-width: 900px;
  max-height: 640px;
  position: relative;
}
.score-tally {
  z-index: 100;
  position: fixed;
  top: 4px;
  left: 25%;
  font-size: 24px;
  font-weight: 600;
  color: #ff7373;
  white-space: nowrap;
  font-family: "Raleway", sans-serif;
  transition-property: border-color;
  transition-duration: 0.9s;
  transition-timing-function: ease-in-out;
  transition-delay: 1s;
}
.level-tally {
  z-index: 100;
  position: fixed;
  top: 4px;
  left: 70%;
  font-size: 24px;
  font-weight: 600;
  color: #ff7373;
  white-space: nowrap;
  font-family: "Raleway", sans-serif;
}
